<!DOCTYPE html>
<html>
<head>
  <title>Coen280</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "project", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
  <div id="banner">
  <%= image_tag("/images/logo.jpg", :size => '100x100', :border => 1 ) %>
  <%= @page_title || "Aesthetic Discoveries only for you"%>
  </div>
  <div id="columns">
   <div id="side">
     <div id="cart">
       <%= render @cart %>
     </div>
   <%= link_to 'Home', store_url %></br>
   <a href="http://www..../faq">Questions</a><br/>
   <a href="http://www..../aboutus">About Us</a><br/>
   <a href="http://www..../contact">Contact</a><br/>
   </div>
   <div id="main">

   <%= yield %>
   </div>
  </div>

</body>
</html>
